VITE_AZURE_CLIENT_ID=your-client-id
VITE_AZURE_TENANT_ID=0e9c8663-a4ff-440e-af94-be25e63a1a6a
VITE_AZURE_TENANT_DOMAIN=your-tenant-domain
VITE_AZURE_USER_FLOW=twinetstudiologin
VITE_AZURE_AUTHORITY=https://your-tenant-domain.ciamlogin.com/your-tenant-domain.onmicrosoft.com/twinetstudiologin/v2.0/
VITE_AZURE_REDIRECT_URI=http://localhost:5173
VITE_API_BASE_URL=http://localhost:7072/api
